
/* CSS for navbar */

.logo {
  width: 130px;
  margin: 40px;
}
nav.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1.7rem 3%;
  height: 6.5rem;
  font-size: 1.2rem;
}

/* CSS for navbar items */
nav.navbar ul.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav.navbar ul.navbar-nav li.nav-item {
  margin-left: 35px;
}

nav.navbar ul.navbar-nav li.nav-item a {
  text-decoration: none;
  color: #333;
}

nav.navbar ul.navbar-nav li.nav-item a:hover {
  color: #555; /* Change color on hover */
}

/*different screen sizes */
@media screen and (max-width: 1199px) {
  nav.navbar ul.navbar-nav li.nav-item {
    margin-left: 20px;
  }

  nav.navbar .logo {
    width: 100px;
    margin: 20px;
  }
}

@media screen and (max-width: 991px) {
  nav.navbar {
    height: auto;
    padding: 1rem 3%;
  }

  nav.navbar ul.navbar-nav {
    flex-direction: column;
    align-items: flex-end;
  }

  nav.navbar ul.navbar-nav li.nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav.navbar .logo {
    width: 100px;
    margin: 20px;
  }
}

@media screen and (max-width: 767px) {
  nav.navbar {
    padding: 1rem 2%;
  }

  nav.navbar ul.navbar-nav li.nav-item {
    margin-left: 20px;
  }
}