<main class="container">
  <!-- Header -  Later will be changed accordingly to filter -->
  <app-base-page></app-base-page>
  <!-- <h2 class="survey-heading">Recent Surveys</h2> -->
  <!-- Survey List -->
  <!-- Need add variable later! -->
  <div class="row">
    <!--<div *ngFor="let survey of surveys; index as i;" class="col-lg-4 col-md-5 mb-3">-->
    <div  class="col-lg-4 col-md-5 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">survey.name</h5>
          <p class="card-text">survey.creator</p>
          <p class="card-time">Expires on: survey.endDate.substring(0,20)</p> <!-- new class for "Time left" text -->
          <a href="survey/survey._id" class="btn btn-primary">Take Survey</a>
        </div>
      </div>
    </div>
  </div>
</main>
