<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<h2>Create Survey</h2>
<input type="text" placeholder="Enter survey name" name="surveyName" class="survey-name-input">

 
  <main class="container" id="questionContainer"></main>
  <form action="" id="questionForm" method="POST">

  </form>
  <button id="addBtn" class="add-question-btn">Add Question</button>
  <button id="submitBtn" class="submit-btn" type="submit">Submit</button>

</main>

<%- include ../partials/bottom_nav.ejs %>
<script src="/Scripts/surveys/createSurvey.js"></script>
<%- include ../partials/footer.ejs %>



