<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container" id="createSurveyContainter">  
        <h2>Create Survey</h2>
        <input type="text" placeholder="Enter survey name" name="surverName">
        <form action="" id="questionForm">
           
        </form>
        <br>
         <button id="addBtn" >Add Question</button>
         <br><br>
  </main>
  

<%- include ../partials/bottom_nav.ejs %>  
<script src="/Scripts/surveys/createSurvey.js"></script>
<%- include ../partials/footer.ejs %>