<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<h2>Create Survey</h2>
<!-- should this also not be in the form? -->

<main class="container" id="questionContainer"></main>
<form id="questionForm" method="POST">
    <input type="text" placeholder="Enter survey name" name="surveyName" class="survey-name-input" required>

    <button id="addBtn" class="add-question-btn">Add Question</button>
    <button id="submitBtn" class="submit-btn" type="submit">Submit</button>
  </form>

</main>

<%- include ../partials/bottom_nav.ejs %>
<script src="/Scripts/surveys/createSurvey.js"></script>
<%- include ../partials/footer.ejs %>



