<p>create works!</p>
<app-base-page></app-base-page>


<!-- Main Content -->

<h2>Create Survey</h2>
<!-- should this also not be in the form? -->
<div class="container">
  <select id="surveyType" [(ngModel)]="selectedSurveyType" (change)="onSurveyTypeChange()"required>
    <option value="">Select survey type</option>
    <option value="SA">Single Answer</option>
    <option value="MCQ">Multiple Choice</option>
  </select>

</div>

<form class="form mcq-container" method="POST"  *ngIf="selectedSurveyType === 'MCQ'" (ngSubmit)="onMCQFormSubmit()">
  <input type="text" placeholder="Enter survey name" name="surveyName" class="survey-name-input" required>
  <div class="container">
        <!-- For MCQ -->
      <div *ngFor="let question of questionLength; let i = index"> 
        <div class="row mb-5">
            <div class="offset-md-3 col-md-6" style="margin: 0 auto;">
                <div class="form-group mb-2">
                <input type="text" class="form-control"
                    id="nameTextField"
                    [placeholder]="'Question ' + (i + 1)"
                    [name]="'Question' + (i + 1)"
                    required>
                </div>
            
                <div *ngFor="let option of MCQoptions; let j = index">
                    <input type="text" class="form-control"
                    id="nameTextField"
                    [placeholder]="'Response ' + (j + 1)"
                    [name]="'response' + (j + 1)"
                    required>
                </div>
                
            </div>
        </div>
      </div>
    </div>
  <button id="submitBtn" class="submit-btn" type="submit">Submit</button>
</form>

<form class="form sa-container" method="POST" *ngIf="selectedSurveyType === 'SA'" (ngSubmit)="onSAFormSubmit()">
  <input type="text" placeholder="Enter survey name" name="surveyName" class="survey-name-input" required>
    <div class="container">
    <!-- <input type="hidden" name="surveyType" value="SA"> -->
      <!-- <input type="hidden" name="surveyType" value="short answer"> -->

        <div *ngFor="let question of questionLength; let i = index" class="container" style="margin:2rem 0;">
          <div class="row">
            <div class="offset-md-3 col-md-6" style="margin: 0 auto;">
              <div class="form-group">
                <input type="text" class="form-control"
                  id="nameTextField"
                  [placeholder]="'Question ' + (i + 1)"
                  [name]="'Question' + (i + 1)"
                  required>
              </div>
            </div>
          </div>
        </div>
    
    </div>

  <button id="submitBtn" class="submit-btn" type="submit">Submit</button>
</form>
