<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">  
        <!-- Header -  Later will be change accordingly to filter -->
        <h2>Recent Surveys</h2> 
        <!-- Survey List -->
        <%surveyList =[1,2,3,4,5,6,7,8,9,10]%>
        <%surveyList.forEach(function(survey){%>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Survey Title</h5>
                <p class="card-text">Creator</p>
                <p>Time left</p>
                <a href="#" class="btn btn-primary">Take Survey</a>
            </div>
        </div>
        <%})%>

  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>