
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9D9D9;
}


.logo{
    width: 200px;
    margin: 0 auto;
    display: block;
}

footer > nav{
    font-size: smaller;
    text-align: center;
}