@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

body {
  background-color: #D9D9D9;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 130px;
  margin: 40px;
}

/* CSS for navbar */
nav.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1.7rem 3%;
  height: 6.5rem;
  font-size: 1.2rem;
}

/* CSS for navbar items */
nav.navbar ul.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav.navbar ul.navbar-nav li.nav-item {
  margin-left: 35px;
}

nav.navbar ul.navbar-nav li.nav-item a {
  text-decoration: none;
  color: #333;
}

nav.navbar ul.navbar-nav li.nav-item a:hover {
  color: #555; /* Change color on hover */
}

/*different screen sizes */
@media screen and (max-width: 1199px) {
  nav.navbar ul.navbar-nav li.nav-item {
    margin-left: 20px;
  }

  nav.navbar .logo {
    width: 100px;
    margin: 20px;
  }
}

@media screen and (max-width: 991px) {
  nav.navbar {
    height: auto;
    padding: 1rem 3%;
  }

  nav.navbar ul.navbar-nav {
    flex-direction: column;
    align-items: flex-end;
  }

  nav.navbar ul.navbar-nav li.nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav.navbar .logo {
    width: 100px;
    margin: 20px;
  }
}

@media screen and (max-width: 767px) {
  nav.navbar {
    padding: 1rem 2%;
  }

  nav.navbar ul.navbar-nav li.nav-item {
    margin-left: 20px;
  }
}


footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: calc(30.5rem + 10px); 
}

footer .navbar {
  display: inline-block;
  margin: 0 auto;
}

footer > nav {
  font-size: smaller;
  text-align: center;
}



.survey-heading {
  margin: 50px auto;
  margin-top: -40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.card {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

.card-title {
  margin-top: 45px;
  font-size: 30px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 35px;
}

.card-time {
  position: absolute;
  bottom: 0.5px;
  right: 15px;
  font-size: 12px;
}

.btn {
  margin-top: 10px;
}

.container {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.col-lg-4 {
  flex-basis: calc(25% - 60px);
  margin: 0 5px;
}

/* create.ejs css starts */
h2 {
  margin-bottom: 3%;
  margin-top: 100px;
  text-align: center;
}

.survey-name-input {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: block;
}

.question-container {
  margin:0 auto 20px;
  padding-top: 20px;
  width: 80%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}

.add-question-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-question-btn {
  padding: 10px 20px;
  background-color: #717e8d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cancelBtn {
  padding: 10px 20px;
  background-color: #b3b3b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  text-decoration: none;
  display: inline-block;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#cancelBtn {
  margin-left: 10px;
}

#submitBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 0;
}

.remove-question-btn {
  padding: 4px 8px;
  font-size: smaller;
  background-color: #324660;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7px;
}

.add-answer-btn {
  padding: 4px 8px;
  font-size: smaller;
  background-color: #324660;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 992px) {
  .survey-name-input,
  .question-container {
    width: 90%;
  }

  #cancelBtn,
  #submitBtn {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .survey-name-input {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .question-container {
    width: 100%;
    margin-left: 0;
  }

  .add-question-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .add-question-btn,
  #cancelBtn,
  #submitBtn,
  .remove-question-btn,
  .add-answer-btn {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .form-container {
    width: 100%;
  }

  .add-question-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/* create.ejs css ends */
