@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

body {
  background-color: #D9D9D9;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 130px;
  margin: 40px;
}

nav.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 3%;
  height: 6.5rem;
  font-size: 1.2rem;
}

nav.navbar ul.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav.navbar ul.navbar-nav li.nav-item {
  margin-left: 35px;
}

nav.navbar ul.navbar-nav li.nav-item a {
  text-decoration: none;
  color: #333;
}

nav.navbar ul.navbar-nav li.nav-item a:hover {
  color: #555; /* Change color on hover */
}

footer > nav {
  font-size: smaller;
  text-align: center;
}

.survey-heading {
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

.card-title {
  margin-top: 45px;
  font-size: 30px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 35px;
}

.card-time {
  position: absolute;
  bottom: 0.5px;
  right: 15px;
  font-size: 12px;
}

.btn {
  margin-top: 10px;
}

.container {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-left: 65px;
  margin-right: 40px;
}

.col-lg-4 {
  flex-basis: calc(33.33% - 40px);
  margin: 0 5px;
}

footer {
  margin-top: 300px;
  /* background-color: #f8f9fa; */
  padding: 10px 0;
  text-align: center;
}

footer .navbar {
  display: inline-block;
  margin: 0 auto;
}

/* create.ejs css starts */
h2 {
   margin-bottom: 1%;
    margin-top: 50px;
    margin-left: 43%;
  }
  .survey-name-input {
    margin-bottom: -5973%;
    margin-left: 27.45%;
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px; /* Increase this value for more rounded ends */
    }


.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}
.question-container {
    margin-left: 27%;
    width:46%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
  }

.add-question-btn {
  padding: 10px 20px;
  background-color: #717e8d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  margin-bottom: 10px;
  margin-left: 28%;
}

.add-question-btn:hover {
  background-color: #0056b3;
}

#submitBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 29%;
}

#submitBtn:hover {
  background-color: #0056b3;
}

.remove-question-btn {
  padding: 4px 8px;
  font-size: smaller;
  background-color: #324660;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7px;
}

.remove-question-btn:hover {
  background-color: #c82333;
}

.add-answer-btn {
  padding: 4px 8px;
  font-size: smaller;
  background-color: #324660;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 68%;
}

.add-answer-btn:hover {
  background-color: #218838;
}

/* Mohammad's grabage css */
.table {
  
  width: 90%;
  margin-top: 1rem;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bd914f;
  color: white;
}
/* create.ejs css ends */
